body {
    background-color: rgb(249, 221, 243);
  }
  
  h1 {
    color: rgb(158, 154, 154);
    text-align: center;
  }
  h2 {
    color: rgb(158, 154, 154);
    text-align: center;
  }

  
  
  p {
    color:rgb(158, 154, 154) ;
    font-family: verdana;
    font-size: 20px;
  }
  label{
    color:rgb(158, 154, 154) ;
  }
  li a {
    display: block;
    padding: 8px;
    background-color: #f6f3f3;
  }
  
  
a {
    color: rgb(158, 154, 154);
    text-align: center;
  }